* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: 'Times New Roman', Times, serif;
    background-image:url(./images/pexels-luis-gomes-546819.jpg);
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    background-color: rgb(164, 2, 2);
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 25px;
   }
    img {
        width: 120px;
    }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #1842b5;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .course {
       position: relative;
   }
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: rgb(46, 218, 115);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #3719ad;
   }
   .services:hover .dropdown {
    display: block;
   }

   